{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Store {% endblock %}

{% block content %}
<h1>Store</h1>
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img class="card-img-top" src="{{ store.image.url }}}" alt="">
        </div>
    </div>
</div>
<div class="col-10 mx-auto col-md-6 my-3">
    <div>
        <h1 class="product_title">{{ store.name }}</h1>
        <p>{{ store.price }}</p>
        <p class="product_desc">Product description</p>
        <p class="text-justify product_text"> {{ store.description }}</p>
        {% if store.stock == 0 %}
        <p class="text-justify product_text">Out of stock</p>
        {% else %}
        <a href="">Add to Cart</a>
        {% endif %}
    </div>
</div>
{% endblock %}